
@{
    ViewData["Title"] = "VendorMaster";
}



<title>Vendor Entry Form</title>
<script src="~/js/script/baseservice.js"></script>

<style>
    .form-floating label {
        padding: 0.65rem 0.75rem; /* Adjust padding for smaller inputs */
    }

    .is-invalid {
        border-color: red !important;
    }
</style>
@*<div class="container">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
        <h4>Vendor Entry</h4>
    <!-- Buttons -->

    <div class="d-flex justify-content-end gap-2 mb-3">
        <button type="submit" class="btn btn-success" onclick="SubmitVendorForm()" id="saveButton"> Save</button>
                <button type="button" class="btn btn-success" id="updateButton" onclick="updateVendorForm()" style="display: none;">Update</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("VendorDetailList", "Home")'">Cancel</button>
    </div>
    </div>
    <div class="card-body">
    <form>
        <div class="row mb-3">
            <!-- Column 1 -->
            <div class="col-md-6">
                    <div class="form-floating mt-3 mb-3">
                        <input type="text" class="form-control" id="code" placeholder="code" readonly/>
                        <label for="code">Code</label>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-floating mt-3 mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Name" />
                        <label for="name">Name</label>
                    </div>
                    </div>
                        <div class="col-md-6">
                <!-- Contact Email -->
                <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Contact Email" oninput="validateEmail()" />
                    <label for="email">Contact Email</label>
                        <small id="emailError" style="color: red; display: none;">Please enter a valid email syntax.</small>
                </div>
                <!-- Valid Till Date -->
                <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="validTill" placeholder="Valid Till Date" min="" />
                    <label for="validTill">Valid Till Date</label>
                </div>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="row">
               <div class="col-6">
                <!-- Address Line 1 -->
                <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="address1" placeholder="Address Line 1" />
                    <label for="address1">Address Line 1</label>
                </div>

                <!-- Address Line 2 -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="address2" placeholder="Address Line 2" />
                    <label for="address2">Address Line 2</label>
                </div>
                        </div>
                        <!-- Contact Number -->
                        <div class="col-6">
                <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="contactNo" placeholder="Contact No" oninput="validateMobile()" />
                    <label for="contactNo">Contact No</label>
                        <small id="contactError" style="color: red; display: none;">Please enter a 10-digit valid mobile number.</small>
                </div>
                            <div class="form-check form-switch mb-3 mx-3">
                                <input class="form-check-input" type="checkbox" id="isActive" />
                                <label class="form-check-label" for="isActive">Active</label>
                            </div>
                        </div>

            </div>
            <!-- IsActive -->

    </form>

        </div>
    </div>
</div>*@
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Vendor Entry Form</h4>
            <div class="row mb-3">
            </div>
        </div>
        <div class="card-body">
            <form>
                <!-- Row 1 -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="code" placeholder="code" readonly />
                            <label for="code">Code</label>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-success" onclick="SubmitVendorForm()" id="saveButton"> Save</button>
                        <button type="button" class="btn btn-success" id="updateButton" onclick="updateVendorForm()" style="display: none;">Update</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("VendorDetailList", "Home")'">Cancel</button>
                    </div>
                    <div class="col-12">

                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" placeholder="Name" />
                            <label for="name">Name</label>
                        </div>
                    </div>
                    
                </div>

                <!-- Row 2 -->
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address1" placeholder="Address Line 1" />
                            <label for="address1">Address Line 1</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="address2" placeholder="Address Line 2" />
                            <label for="address2">Address Line 2</label>
                        </div>
                    </div>
                </div>

                <!-- Row 3 -->
                <div class="row mb-3">

                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Contact Email" oninput="validateEmail()" />
                            <label for="email">Contact Email</label>
                            <small id="emailError" style="color: red; display: none;">Please enter a valid email syntax.</small>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="contactNo" placeholder="Contact No" oninput="validateMobile()" />
                            <label for="contactNo">Contact No</label>
                            <small id="contactError" style="color: red; display: none;">Please enter a 10-digit valid mobile number.</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="validTill" placeholder="Valid Till Date" min="" />
                            <label for="validTill">Valid Till Date</label>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                         <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="isActive" />
                                <label class="form-check-label" for="isActive">Active</label>
                            </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        const dateInput = document.getElementById('validTill');
        const today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
        dateInput.min = today;
        //getQueryStringValue('vendorCode');
    });
    function validateEmail() {
        var email = document.getElementById("email").value
        const emailError = document.getElementById("emailError");
        var emailRegex = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
        if (email === "") {
            emailError.style.display = "none";
        }
        else if (!emailRegex.test(email)) {
            emailError.style.display = "block";
        } else {
            emailError.style.display = "none";
        }
    }
    function validateMobile() {
        var contact = document.getElementById("contactNo");
        var contactError = document.getElementById("contactError");
        var contactRegex = /^[0-9]{10}$/;

        if (contact.value === "") {
            contactError.style.display = "none";
        }
        else if (!contactRegex.test(contact.value)) {
            contactError.style.display = "block";
        } else {
            contactError.style.display = "none";
        }
    }
    function formValidation() {
        const inputs = document.querySelectorAll('.form-control');
        let isValid = true;

        inputs.forEach(input => {
            if (input.id === 'code') {
                return;
            }

            // Check if the field is empty
            if (input.value.trim() === '') {
                input.classList.add('is-invalid'); // Add the red border
                isValid = false;
            } else {
                input.classList.remove('is-invalid'); // Remove the red border
            }
        });


        if (isValid) {
            return true;
        } else {
            alert('Please fill out all required fields.');
            return false;
        }
    }
    function SubmitVendorForm() {
        if (!formValidation()) {
            return false;
        }
        var vendorDetail = {
            Name: $('#name').val(),
            Email: $('#email').val(),
            AddressLine1: $('#address1').val(),
            ValidTill: $('#validTill').val(),
            Contact: $('#contactNo').val(),
            AddressLine2: $('#address2').val(),
            isChecked: $('#isActive').prop('checked')

        };
        console.log("kdflsfs", vendorDetail);
        $.ajax({
            url: '/Form_Master/SaveVendorDetail',
            data: JSON.stringify(vendorDetail),
            type: 'POST', // POST, GET, PUT, DELETE, etc.
            contentType: "application/json", // Specify content type (e.g., JSON or FormData)
            dataType: "json", // Expected response data type (e.g., JSON)
            success: function (response) {
                if (response.success) {
                    alert("Vendor has been added successfully");
                    window.location.href = '@Url.Action("VendorDetailList", "Home")';
                } else {
                    alert({ message: "An error occurred" })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                errorCallback({ message: "An error occurred" });
            }
        });

    }

    function getQueryStringValue(key) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(key);
    }
    var vendorCode = getQueryStringValue('vendorCode');
    if (vendorCode != null) {
        GetVendorDataByCodeId(vendorCode);
    }
    console.log('Vendor Code:', vendorCode);
    function GetVendorDataByCodeId(vendorCode) {
        $.ajax({
            url: '/Form_Master/GetVendorDataByVendorCode',
            data: JSON.stringify({ Vendor_Id: vendorCode }),
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response) {
                    console.log("vendor res", response);
                    const item = response[0];
                    document.getElementById("name").value = item.name || "";
                    document.getElementById("code").value = item.code || "";
                    document.getElementById("email").value = item.email || "";
                    document.getElementById("validTill").value = item.validTill
                        ? new Date(item.validTill).toISOString().split("T")[0]
                        : ""; // Format date to yyyy-MM-dd for input[type="date"]
                    document.getElementById("address1").value = item.addressLine1 || "";
                    document.getElementById("address2").value = item.addressLine2 || "";
                    document.getElementById("contactNo").value = item.contact || "";
                    document.getElementById("isActive").checked = item.isChecked || false;
                    document.getElementById("saveButton").style.display = "none";
                    document.getElementById("updateButton").style.display = "inline-block";
                } else {
                    alert({ message: "An error occurred" })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                errorCallback({ message: "An error occurred" });
            }
        });
    }
    function updateVendorForm() {
        if (!formValidation()) {
            return;
        }
        var vendorDetail = {
            Name: $('#name').val(),
            Email: $('#email').val(),
            AddressLine1: $('#address1').val(),
            ValidTill: $('#validTill').val(),
            Contact: $('#contactNo').val(),
            AddressLine2: $('#address2').val(),
            isChecked: $('#isActive').prop('checked'),
            Vendor_Id: vendorCode
        };
        console.log("", vendorDetail);
        $.ajax({
            url: '/Form_Master/UpdateVendorDetail',
            data: JSON.stringify(vendorDetail),
            type: 'POST',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    alert("Vednor has been updated successfully");
                    window.location.href = '@Url.Action("VendorDetailList", "Home")';
                } else {
                    alert({ message: "An error occurred" })
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                errorCallback({ message: "An error occurred" });
            }
        });
    }
</script>