@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Welcome To The Vendor Purchase Inventory</h1>
    <h5 class="mt-3">Have a Look Around And Explore the Application.</h5>
</div>
