
@{
    ViewData["Title"] = "POEntryList";
}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
    <h3 class="mb-3">Purchase List</h3>

    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-secondary" onclick="location.href='@Url.Action("PurchaseMaster", "Form_Master")'">Create</button>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th colspan="1">PCode</th>
                <th colspan="1">MCode</th>
                <th colspan="1">Short Text</th>
                <th colspan="1">Vendor</th>
                <th colspan="1">Quantity</th>
                <th colspan="1">Rate</th>
                <th colspan="1">Amount</th>
                <th colspan="1">OrderValue</th>
                <th colspan="1">OrderDate</th>
                <th colspan="1">Unit</th>
                <th colspan="1">Exp Date</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody id="purchaseTableBody">
        </tbody>
    </table>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        loadPurchaseData();
    });
    function loadPurchaseData() {
        $.ajax({
            url: '/Home/GetPurchaseData', // Your controller action URL
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log("Venodr Data", data)
                var vendorHtml = '';
                data.forEach(function (purchase) {
                    vendorHtml += `
                    <tr>
                                <td>${purchase.pCode}</td>
                                    <td>${purchase.mCode}</td>
                                    <td>${purchase.shortTxt}</td>
                                        <td>${purchase.vendor}</td>
                                              <td>${purchase.quantity}</td>
                                               <td>${purchase.rate}</td>
                                                    <td>${purchase.amount}</td>
                                        <td>${purchase.orderValue}</td>
                                    <td>${purchase.orderDate}</td>
                                    <td>${purchase.unit}</td>
                                    <td>${purchase.expected_Date}</td>
                        <td>
                                            <button class="btn btn-sm btn-success" onclick="editPurchase(${purchase.orderNo})">Edit</button>
                        </td>
                        <td>
                                                        <button class="btn btn-sm btn-danger" onclick="deletePurchase(${purchase.orderNo})">Delete</button>
                        </td>
                    </tr>
                `;
                });
                $('#purchaseTableBody').html(vendorHtml);

            },
            error: function (xhr, status, error) {
                console.error('Error loading vendor data:', error);
                $('#vendorData').html('<p>Error loading vendor data.</p>');
            }
        });

    }
    function editPurchase(code) {
        window.location.href = '@Url.Action("PurchaseMaster","Form_Master")' + '?Code=' + encodeURIComponent(code);;
    }
    function deletePurchase(code, isActive) {
            $.ajax({
                url: '/Form_Master/DeletePurchaseDetail',
                data: JSON.stringify({ OrderNo: code }),
                type: 'POST',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert("Vendor has been deleted successfully");
                    loadPurchaseData();
                    } else {
                        alert({ message: "An error occurred" })
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    errorCallback({ message: "An error occurred" });
                }
            });
    }
</script>